* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #fff !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: #121212;
}

.subnav {

    border-bottom: 1px solid rgb(81, 83, 84);
    border-top-color: rgb(81, 83, 84);
    border-right-color: rgb(81, 83, 84);
    border-left-color: rgb(81, 83, 84);
    display: flex;
    position: relative;
    
}

.navoptions {
    
    padding: 0 5px;
    height: 2rem;
    background-color: #121212 !important;
}
.navoptions :hover{
    color: aqua !important;
}

.filter {
    position: sticky;
    width: 23%;
    height: 100vh;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 50px;
    font-size: 25px;
    background-color: rgb(18, 18, 18);
    float: left;
    overflow: auto;
}
.filter button {
    transform: translateX(100%);
}
.category ul li {
    font-size: 15px;
    list-style-type: none;
    
    
}
.category ul{
    padding: 0 !important;
}

.groupitems {
    box-sizing: border-box;
    position: relative;
    width: 77%;
    height: 100vh;
    flex-flow: row wrap;
    padding: 0px 32px;
    display: flex;
    margin-top: 16px;
    float: right;
    overflow: auto;
}
.groupitems::-webkit-scrollbar{
    display: none;
}
.groupitems a{
    color:#fff;
}
.groupitems a:hover{
    color:blueviolet;
}

.items {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 286px;
    height: 449px;
    transform: translateX(0px) translateY(0px);
}

.items:hover .productimg img {
    transition: all 0.5s ease-out;
    transform: translate(0, -10px);
}

.productimg {
    width: 274px;
    background-color: rgb(81, 83, 84);
    border-radius: 16px 16px 0 0;
}

.productdes {
    padding: 16px;
    width: 274px;
    height: 100px;
    background-color: #242526;
}

.productaction {
    padding: 0 16px;
    ;
    width: 274px;
    height: 56px;
    border-left: 1px solid #393C3D;
    border-right: 1px solid #393C3D;
    border-bottom: 1px solid #393C3D;
    background-color: #1A1C1D;
    border-radius: 0 0 16px 16px;
}

.btn {
    color: #fff !important;
    font: 3em sans-serif;
    font-size: 18px !important;
}
.shownav{
    width: 90%;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    transform: translateX(-30%);
}                              
.productdes__colection p{
    size: 14px;
    color: blueviolet;
    font-family: Manrope!important;
    background-color: #393C3D;
    width: auto;
    border-radius: 15px;
    padding: 5px;
}
.productdes__name {
    float: none;
    size: 20px;
    font-weight: 800;
    font-family: Manrope!important;
}
.ActivityPage{
    height: 100vh;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 50px;
    font-size: 25px;
    background-color: rgb(18, 18, 18);
    overflow: auto;
}
.activity{
    padding: 10px;
    width: 80%;
    padding: 25px;
    margin: 0 auto;
    border-top: 1px solid dimgray;
}
.table{
    color: white !important;
}