*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(/res/img/background.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
}

h1 {
    color: #d26161;
}
.nav{
    width: 100%;
    height: 20%;
    position: relative;
    background-color: black;
}
.navli ul li{
    display: inline !important;
}
.navli ul{
    float: left;
}
.navli ul li a{
    color: #fff;
    display: inline-block;
    font: 1.3em sans-serif;
}
.navli{
    padding-top: 1rem;
    align-items: center;
    width: auto;
    
}
.logoheader{
    margin-left: 20px;
    align-items: center;
}
.walletconnect {
    align-items: center;
    float: left;
}
.btn{
    font-size:16px !important;
}